<?xml version="1.0"?>
<launch>

  <arg name="mbzirc_fixed_latitude" default="24.4550773" />
  <arg name="mbzirc_fixed_longitude" default="54.3729277" />

  <!-- Robot odometry-->
  <node pkg="mbzirc_robot" type="mbzirc_robot_node" name="mbzirc_robot_node" output="screen" respawn="True" >
	<param name="/dynamixel_RR_order" value="1" type="int" />
	<param name="/dynamixel_FL_order" value="2" type="int" />
	<param name="/dynamixel_FR_order" value="3" type="int" />
	<param name="/dynamixel_RL_order" value="4" type="int" />
  </node>

  <!-- Static Transformation -->
  <node pkg="tf" type="static_transform_publisher" name="fixed_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 40" />
  <node pkg="tf" type="static_transform_publisher" name="base2imu" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /gx5_link 40" />
  <node pkg="tf" type="static_transform_publisher" name="base2gps" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /gps 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint2lidar" args="0.0 0.0 0.9 0.0 -0.3 0.0 /base_footprint /velodyne 40" /> 


  <!-- Group START-->
  <group ns="outdoor_nav"> 
  <!-- UTM listener-->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <!--remap from="odometry/filtered" to="odometry/filtered_map" /-->
      <remap from="gps/fix" to="/latlon/fix"/>
      <remap from="imu/data" to="/gx5/imu/data"/>
      <param name="/lat_fixed_point" value="$(arg mbzirc_fixed_latitude)" type="double" />
      <param name="/lon_fixed_point" value="$(arg mbzirc_fixed_longitude)" type="double" />
	
  </node>

  <!-- EKF node-->
  <!--Estimating pose in the world-->
  <node pkg="navi" type="navi_node" name="navi_node" output="screen" respawn="True" />
  <!--Calculating /move_base/cmd_vel-->
  <!--node pkg="navi" type="controller_node" name="control" /-->
  <!--Load the waypoint and pub waypoint PoseArray-->
  <!--node pkg="navi" name="waypoint" type="waypoint.py" output="screen"/-->
  </group>

  <!-- Move base node-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find navi)/waypoint_files/Free.yaml">
  <param name="frame_id" value="odom" />
  </node>



  <!-- Mission planner ServiceServer : Not included in the "outdoor_nav" group-->



</launch>
