<?xml version="1.0"?>
<launch>

  <!-- Connect UR5 driver to the arm -->
  <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="192.168.2.102"/>
  </include>

  <!-- Initialize the planning scene -->
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch"/>

  <!-- Initialize RVIZ -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <!-- Initialize the UR5 controller node -->
  <node name="mbzirc_ur5_control" pkg="mbzirc_challenge2" type="mbzirc_ur5_control" respawn="false" output="screen"/>>

  <!-- Initialize STM: Switch and Magnet Controller-->
  <node name="mag_serial_node" pkg="mag_serial" type="MAG_serial_node" respawn="false" output="screen"/>

  <!-- Initialize 1D lidar node -->
  <node name="lidar_1D" pkg="teraranger" type="evo" respawn="false" output="screen">
    <param name="portname" value="/dev/ttyACM3" />
    <param name="sensor_type" value="Evo_3m" />
  </node>

 </launch>
