<launch>
  <!--arg name="service_control"      default="true"/-->
  <arg name="service_control"      default="false"/>
  <arg name="x_gain"               default="0.15"/>
  <arg name="y_gain"               default="0.25"/>
  <arg name="yaw_gain"             default="0.2"/>

  <node name="goto_brick" pkg="mbzirc_goto_brick" type="goto_brick.py" output="screen">
    <remap from="/cmd_vel" to="/goto_brick/cmd_vel"/>
    <param name="service_control"  value="$(arg service_control)"/>
    <param name="x_gain"           value="$(arg x_gain)"/>
    <param name="y_gain"           value="$(arg y_gain)"/>
    <param name="yaw_gain"         value="$(arg yaw_gain)"/>
  </node>
</launch>
